
<ion-header >
  <ion-toolbar color="AppColor">
    <ion-title>Payment History</ion-title>
  </ion-toolbar>

  <ion-toolbar no-border-top color="AppColor">
    <ion-segment [(ngModel)]="ride" color="secondary">
      <ion-segment-button value="share">   Share  </ion-segment-button>
      <ion-segment-button  value="pick">  Ride  </ion-segment-button>
      <ion-segment-button  value="book">  Book   </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content [ngSwitch]="ride">
  <ion-list  *ngSwitchCase="'pick'">
     <ion-item  *ngFor="let HistoryPickRide of HistoryPickRides">
        <ion-card >
        <ion-row padding>
        <ion-col col-1>
        <ion-icon name="pin">  </ion-icon>
      </ion-col>  
      <ion-col col-3>
        <p> From</p>
        </ion-col>
        <ion-col col-8>
          <p>{{HistoryPickRide[0].from}}</p>
        </ion-col>  
      </ion-row>
      <ion-row padding>
        <ion-col col-1>
        <ion-icon name="pin">  </ion-icon>
      </ion-col>
        <ion-col col-3>
          <p> To</p>
        </ion-col>
        <ion-col col-8>
          <p>{{HistoryPickRide[0].to}}</p>
        </ion-col>
      </ion-row>   
      <ion-row padding>
          <ion-col col-1>
          <ion-icon name="logo-usd"></ion-icon>
          </ion-col>
        <ion-col col-3>
          <p> Fee</p>
        </ion-col>
        <ion-col col-8>
          <p>{{HistoryPickRide[0].amount}}</p>
        </ion-col>
      </ion-row>
      </ion-card>     
     </ion-item> 
  </ion-list>

<ion-list  *ngSwitchCase="'book'">
     <ion-item  *ngFor="let HistoryBookRide of HistoryBookRides">
        <ion-card >
        <ion-row padding>
        <ion-col col-1>
        <ion-icon name="pin">  </ion-icon>
      </ion-col>  
      <ion-col col-3>
        <p> From</p>
        </ion-col>
        <ion-col col-8>
          <p>{{HistoryBookRide[0].from}}</p>
        </ion-col>  
      </ion-row>
      <ion-row padding>
        <ion-col col-1>
        <ion-icon name="pin">  </ion-icon>
      </ion-col>
        <ion-col col-3>
          <p> To</p>
        </ion-col>
        <ion-col col-8>
          <p>{{HistoryBookRide[0].to}}</p>
        </ion-col>
      </ion-row>   
      <ion-row padding>
          <ion-col col-1>
          <ion-icon name="logo-usd"></ion-icon>
          </ion-col>
        <ion-col col-3>
          <p> Fee</p>
        </ion-col>
        <ion-col col-8>
          <p>{{HistoryBookRide[0].amount}}</p>
        </ion-col>
      </ion-row>
      </ion-card>     
     </ion-item> 
  </ion-list>

   <ion-list  *ngSwitchCase="'share'">
     <ion-item  *ngFor="let HistoryShareRide of HistoryShareRides">
        <ion-card >
        <ion-row padding>
        <ion-col col-1>
        <ion-icon name="pin">  </ion-icon>
      </ion-col>  
      <ion-col col-3>
        <p> From</p>
        </ion-col>
        <ion-col col-8>
          <p>{{HistoryShareRides[0].from}}</p>
        </ion-col>  
      </ion-row>
      <ion-row padding>
        <ion-col col-1>
        <ion-icon name="pin">  </ion-icon>
      </ion-col>
        <ion-col col-3>
          <p> To</p>
        </ion-col>
        <ion-col col-8>
          <p>{{HistoryShareRides[0].to}}</p>
        </ion-col>
      </ion-row>   
      <ion-row padding>
          <ion-col col-1>
          <ion-icon name="logo-usd"></ion-icon>
          </ion-col>
        <ion-col col-3>
          <p> Fee</p>
        </ion-col>
        <ion-col col-8>
          <p>{{HistoryShareRides[0].amount}}</p>
        </ion-col>
      </ion-row>
      </ion-card>     
     </ion-item> 
   </ion-list>


</ion-content>

