page-payment-shared {
    .payment-content{
    // background:#3498db;
    font-size: 13px;

}
        .card{
font-size: 10px;

}
.customer-box {
  
    background: rgba(255, 255, 255, 0.9);
  height: 100px;
  margin: 0 auto;
  //position: relative;
  top: 220px;
  width: 90%; 

    }
    .customer-box >ion-item >ion-label{
        font-size: 10px;

    }

.image {
     height:50px ; 
     width: 50px; 
    //border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    //box-shadow: 0 0 5px gray;
    /*display: inline-block;
    margin-left: auto;
    margin-right: auto;*/
}


}