page-profile-home {

    ion-content{
        padding: 0px;
    }
    .profile-header{
        text-align: center;
    }
    .profile-header-img{
        width: 100%;
    }

    .profile-container{
        width: 100%;
        min-height:100vh;
        background-color: rgba(52, 73, 94,0.7)
    }
}
