page-payment-normal {
    //.payment-content{
  //   background:#90C695;

//}

.customer-box {
      padding: 20px 10px 0px 10px;
      margin-top:10px;
    }
    
    .image {
     height:50px ; 
     width: 50px; 
    //border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    //box-shadow: 0 0 5px gray;
    /*display: inline-block;
    margin-left: auto;
    margin-right: auto;*/
}

}